
%icon-add_photo_icon {
  background-image: url(../images/sprite.png);
  background-position: -1715px -739px;
  width: 16px;
  height: 18px;
}
%icon-added_to_cart {
  background-image: url(../images/sprite.png);
  background-position: -1232px -585px;
  width: 12px;
  height: 9px;
}
%icon-address {
  background-image: url(../images/sprite.png);
  background-position: -1736px -739px;
  width: 12px;
  height: 18px;
}
%icon-all_catalog_line-h {
  background-image: url(../images/sprite.png);
  background-position: -1536px -739px;
  width: 24px;
  height: 22px;
}
%icon-all_catalog_line {
  background-image: url(../images/sprite.png);
  background-position: -1507px -739px;
  width: 24px;
  height: 22px;
}
%icon-all_catalog_tile-h {
  background-image: url(../images/sprite.png);
  background-position: -1619px -739px;
  width: 22px;
  height: 22px;
}
%icon-all_catalog_tile {
  background-image: url(../images/sprite.png);
  background-position: -1565px -739px;
  width: 22px;
  height: 22px;
}
%icon-answer_icon {
  background-image: url(../images/sprite.png);
  background-position: -1208px -585px;
  width: 19px;
  height: 11px;
}
%icon-arrow_select {
  background-image: url(../images/sprite.png);
  background-position: -1340px -585px;
  width: 9px;
  height: 5px;
}
%icon-arrow_select_opener {
  background-image: url(../images/sprite.png);
  background-position: -1326px -585px;
  width: 9px;
  height: 5px;
}
%icon-art-lemon_icon {
  background-image: url(../images/sprite.png);
  background-position: -620px -585px;
  width: 91px;
  height: 41px;
}
%icon-art-lemon_icon_h {
  background-image: url(../images/sprite.png);
  background-position: -716px -585px;
  width: 91px;
  height: 41px;
}
%icon-banner_top_bg {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 1900px;
  height: 580px;
}
%icon-bg_nav_ul {
  background-image: url(../images/sprite.png);
  background-position: 0px -585px;
  width: 194px;
  height: 149px;
}
%icon-breadcrumbs_arrow {
  background-image: url(../images/sprite.png);
  background-position: -1088px -605px;
  width: 3px;
  height: 7px;
}
%icon-breadcrumbs_arrow_black {
  background-image: url(../images/sprite.png);
  background-position: -1096px -605px;
  width: 3px;
  height: 7px;
}
%icon-buy-item {
  background-image: url(../images/sprite.png);
  background-position: -778px -700px;
  width: 17px;
  height: 20px;
}
%icon-calendar {
  background-image: url(../images/sprite.png);
  background-position: -514px -634px;
  width: 44px;
  height: 44px;
}
%icon-card_header {
  background-image: url(../images/sprite.png);
  background-position: -1673px -739px;
  width: 16px;
  height: 20px;
}
%icon-catalog_slider_arrow_next {
  background-image: url(../images/sprite.png);
  background-position: -1767px -739px;
  width: 9px;
  height: 18px;
}
%icon-catalog_slider_arrow_prev {
  background-image: url(../images/sprite.png);
  background-position: -1753px -739px;
  width: 9px;
  height: 18px;
}
%icon-catalog_slider_dots {
  background-image: url(../images/sprite.png);
  background-position: -868px -634px;
  width: 14px;
  height: 13px;
}
%icon-catalog_slider_dots_active {
  background-image: url(../images/sprite.png);
  background-position: -953px -700px;
  width: 16px;
  height: 16px;
}
%icon-close-popup-video {
  background-image: url(../images/sprite.png);
  background-position: -707px -700px;
  width: 20px;
  height: 20px;
}
%icon-close_popup_review {
  background-image: url(../images/sprite.png);
  background-position: -754px -634px;
  width: 14px;
  height: 14px;
}
%icon-consultation_link_icon {
  background-image: url(../images/sprite.png);
  background-position: -1419px -739px;
  width: 25px;
  height: 24px;
}
%icon-contacts_email_icon {
  background-image: url(../images/sprite.png);
  background-position: -520px -700px;
  width: 30px;
  height: 21px;
}
%icon-contacts_social_icon {
  background-image: url(../images/sprite.png);
  background-position: -1384px -739px;
  width: 30px;
  height: 30px;
}
%icon-contacts_tel_icon {
  background-image: url(../images/sprite.png);
  background-position: -1051px -739px;
  width: 32px;
  height: 32px;
}
%icon-counter {
  background-image: url(../images/sprite.png);
  background-position: -1043px -605px;
  width: 4px;
  height: 9px;
}
%icon-courier_icon {
  background-image: url(../images/sprite.png);
  background-position: -218px -739px;
  width: 36px;
  height: 46px;
}
%icon-crug {
  background-image: url(../images/sprite.png);
  background-position: -350px -585px;
  width: 110px;
  height: 110px;
}
%icon-delete_item {
  background-image: url(../images/sprite.png);
  background-position: -986px -605px;
  width: 10px;
  height: 10px;
}
%icon-delete_selected {
  background-image: url(../images/sprite.png);
  background-position: -1001px -605px;
  width: 9px;
  height: 9px;
}
%icon-delete_selected_h {
  background-image: url(../images/sprite.png);
  background-position: -1029px -605px;
  width: 9px;
  height: 9px;
}
%icon-delete_selected_yh {
  background-image: url(../images/sprite.png);
  background-position: -1015px -605px;
  width: 9px;
  height: 9px;
}
%icon-delivery {
  background-image: url(../images/sprite.png);
  background-position: -350px -700px;
  width: 54px;
  height: 30px;
}
%icon-delivery_mist {
  background-image: url(../images/sprite.png);
  background-position: -409px -700px;
  width: 55px;
  height: 28px;
}
%icon-delivery_nova {
  background-image: url(../images/sprite.png);
  background-position: -611px -634px;
  width: 67px;
  height: 24px;
}
%icon-dislike_icon {
  background-image: url(../images/sprite.png);
  background-position: -974px -700px;
  width: 16px;
  height: 16px;
}
%icon-dislike_icon_h {
  background-image: url(../images/sprite.png);
  background-position: -890px -700px;
  width: 16px;
  height: 16px;
}
%icon-evaluation_smile1 {
  background-image: url(../images/sprite.png);
  background-position: -560px -739px;
  width: 38px;
  height: 38px;
}
%icon-evaluation_smile2 {
  background-image: url(../images/sprite.png);
  background-position: -517px -739px;
  width: 38px;
  height: 38px;
}
%icon-evaluation_smile3 {
  background-image: url(../images/sprite.png);
  background-position: -431px -739px;
  width: 38px;
  height: 38px;
}
%icon-evaluation_smile4 {
  background-image: url(../images/sprite.png);
  background-position: -474px -739px;
  width: 38px;
  height: 38px;
}
%icon-evaluation_smile5 {
  background-image: url(../images/sprite.png);
  background-position: -259px -739px;
  width: 38px;
  height: 38px;
}
%icon-facebook-hover {
  background-image: url(../images/sprite.png);
  background-position: -732px -739px;
  width: 38px;
  height: 38px;
}
%icon-facebook {
  background-image: url(../images/sprite.png);
  background-position: -1198px -739px;
  width: 31px;
  height: 32px;
}
%icon-faq_close_answer {
  background-image: url(../images/sprite.png);
  background-position: -1311px -585px;
  width: 10px;
  height: 5px;
}
%icon-faq_open_answer {
  background-image: url(../images/sprite.png);
  background-position: -1296px -585px;
  width: 10px;
  height: 5px;
}
%icon-feedback_checkbox {
  background-image: url(../images/sprite.png);
  background-position: -932px -700px;
  width: 16px;
  height: 16px;
}
%icon-feedback_checkbox_checked {
  background-image: url(../images/sprite.png);
  background-position: -1283px -585px;
  width: 8px;
  height: 8px;
}
%icon-feedback_close {
  background-image: url(../images/sprite.png);
  background-position: -792px -634px;
  width: 14px;
  height: 14px;
}
%icon-feedback_data {
  background-image: url(../images/sprite.png);
  background-position: -845px -700px;
  width: 18px;
  height: 17px;
}
%icon-feedback_phone {
  background-image: url(../images/sprite.png);
  background-position: -849px -634px;
  width: 14px;
  height: 14px;
}
%icon-feedback_time {
  background-image: url(../images/sprite.png);
  background-position: -868px -700px;
  width: 17px;
  height: 17px;
}
%icon-gallery_box_slick_next {
  background-image: url(../images/sprite.png);
  background-position: -87px -739px;
  width: 82px;
  height: 82px;
}
%icon-gallery_box_slick_prev {
  background-image: url(../images/sprite.png);
  background-position: 0px -739px;
  width: 82px;
  height: 82px;
}
%icon-go_services {
  background-image: url(../images/sprite.png);
  background-position: -1079px -605px;
  width: 4px;
  height: 7px;
}
%icon-google {
  background-image: url(../images/sprite.png);
  background-position: -174px -790px;
  width: 31px;
  height: 31px;
}
%icon-google_hover {
  background-image: url(../images/sprite.png);
  background-position: -388px -739px;
  width: 38px;
  height: 38px;
}
%icon-in_stock_icon {
  background-image: url(../images/sprite.png);
  background-position: -1478px -739px;
  width: 24px;
  height: 24px;
}
%icon-info_buy_product_icon {
  background-image: url(../images/sprite.png);
  background-position: -800px -700px;
  width: 17px;
  height: 20px;
}
%icon-instagram-hover {
  background-image: url(../images/sprite.png);
  background-position: -345px -739px;
  width: 38px;
  height: 38px;
}
%icon-instagram {
  background-image: url(../images/sprite.png);
  background-position: -1162px -739px;
  width: 31px;
  height: 32px;
}
%icon-language_arrow {
  background-image: url(../images/sprite.png);
  background-position: -1406px -585px;
  width: 7px;
  height: 4px;
}
%icon-less {
  background-image: url(../images/sprite.png);
  background-position: -1418px -585px;
  width: 5px;
  height: 4px;
}
%icon-like_icon {
  background-image: url(../images/sprite.png);
  background-position: -911px -700px;
  width: 16px;
  height: 16px;
}
%icon-like_icon_h {
  background-image: url(../images/sprite.png);
  background-position: -995px -700px;
  width: 16px;
  height: 16px;
}
%icon-link_back {
  background-image: url(../images/sprite.png);
  background-position: -1266px -585px;
  width: 12px;
  height: 8px;
}
%icon-login_header {
  background-image: url(../images/sprite.png);
  background-position: -1694px -739px;
  width: 16px;
  height: 20px;
}
%icon-logo_footer {
  background-image: url(../images/sprite.png);
  background-position: -465px -585px;
  width: 150px;
  height: 44px;
}
%icon-logo_header {
  background-image: url(../images/sprite.png);
  background-position: -812px -585px;
  width: 108px;
  height: 32px;
}
%icon-map-location_schedule_icon {
  background-image: url(../images/sprite.png);
  background-position: -830px -634px;
  width: 14px;
  height: 14px;
}
%icon-map-location_tel_icon {
  background-image: url(../images/sprite.png);
  background-position: -811px -634px;
  width: 14px;
  height: 14px;
}
%icon-master_icon {
  background-image: url(../images/sprite.png);
  background-position: -925px -585px;
  width: 56px;
  height: 32px;
}
%icon-more {
  background-image: url(../images/sprite.png);
  background-position: -1428px -585px;
  width: 5px;
  height: 4px;
}
%icon-more_arrow {
  background-image: url(../images/sprite.png);
  background-position: -1382px -585px;
  width: 7px;
  height: 4px;
}
%icon-more_arrow_h {
  background-image: url(../images/sprite.png);
  background-position: -1394px -585px;
  width: 7px;
  height: 4px;
}
%icon-my_exit {
  background-image: url(../images/sprite.png);
  background-position: -732px -700px;
  width: 18px;
  height: 20px;
}
%icon-my_exit_hover {
  background-image: url(../images/sprite.png);
  background-position: -755px -700px;
  width: 18px;
  height: 20px;
}
%icon-my_info {
  background-image: url(../images/sprite.png);
  background-position: -555px -700px;
  width: 21px;
  height: 21px;
}
%icon-my_info_hover {
  background-image: url(../images/sprite.png);
  background-position: -581px -700px;
  width: 21px;
  height: 21px;
}
%icon-my_orders {
  background-image: url(../images/sprite.png);
  background-position: -1646px -739px;
  width: 22px;
  height: 22px;
}
%icon-my_orders_hover {
  background-image: url(../images/sprite.png);
  background-position: -1592px -739px;
  width: 22px;
  height: 22px;
}
%icon-my_password {
  background-image: url(../images/sprite.png);
  background-position: -657px -700px;
  width: 20px;
  height: 20px;
}
%icon-my_password_hover {
  background-image: url(../images/sprite.png);
  background-position: -607px -700px;
  width: 20px;
  height: 20px;
}
%icon-nav_arrow {
  background-image: url(../images/sprite.png);
  background-position: -1061px -605px;
  width: 4px;
  height: 8px;
}
%icon-nav_arrow_hover {
  background-image: url(../images/sprite.png);
  background-position: -1070px -605px;
  width: 4px;
  height: 8px;
}
%icon-nav_icon {
  background-image: url(../images/sprite.png);
  background-position: -1249px -585px;
  width: 12px;
  height: 9px;
}
%icon-original_icon {
  background-image: url(../images/sprite.png);
  background-position: -563px -634px;
  width: 43px;
  height: 43px;
}
%icon-our_team_arrow_next {
  background-image: url(../images/sprite.png);
  background-position: -1029px -700px;
  width: 8px;
  height: 16px;
}
%icon-our_team_arrow_prev {
  background-image: url(../images/sprite.png);
  background-position: -1016px -700px;
  width: 8px;
  height: 16px;
}
%icon-page_nav_arrow_next {
  background-image: url(../images/sprite.png);
  background-position: -923px -634px;
  width: 7px;
  height: 12px;
}
%icon-page_nav_arrow_prev {
  background-image: url(../images/sprite.png);
  background-position: -911px -634px;
  width: 7px;
  height: 12px;
}
%icon-payment_liqpay {
  background-image: url(../images/sprite.png);
  background-position: -1093px -585px;
  width: 68px;
  height: 14px;
}
%icon-payment_master {
  background-image: url(../images/sprite.png);
  background-position: -469px -700px;
  width: 46px;
  height: 28px;
}
%icon-payment_privat {
  background-image: url(../images/sprite.png);
  background-position: -986px -585px;
  width: 102px;
  height: 15px;
}
%icon-payment_visa {
  background-image: url(../images/sprite.png);
  background-position: -683px -634px;
  width: 46px;
  height: 15px;
}
%icon-phone {
  background-image: url(../images/sprite.png);
  background-position: -822px -700px;
  width: 18px;
  height: 18px;
}
%icon-phone_header {
  background-image: url(../images/sprite.png);
  background-position: -632px -700px;
  width: 20px;
  height: 20px;
}
%icon-product_facebook {
  background-image: url(../images/sprite.png);
  background-position: -1234px -739px;
  width: 32px;
  height: 31px;
}
%icon-product_google {
  background-image: url(../images/sprite.png);
  background-position: -1271px -739px;
  width: 32px;
  height: 31px;
}
%icon-product_instagram {
  background-image: url(../images/sprite.png);
  background-position: -1088px -739px;
  width: 32px;
  height: 32px;
}
%icon-product_vk {
  background-image: url(../images/sprite.png);
  background-position: -1125px -739px;
  width: 32px;
  height: 32px;
}
%icon-quantity_answer_icon {
  background-image: url(../images/sprite.png);
  background-position: -734px -634px;
  width: 15px;
  height: 15px;
}
%icon-rating_reviews {
  background-image: url(../images/sprite.png);
  background-position: -1187px -585px;
  width: 16px;
  height: 14px;
}
%icon-rating_reviews_active {
  background-image: url(../images/sprite.png);
  background-position: -1166px -585px;
  width: 16px;
  height: 14px;
}
%icon-rating_reviews_big {
  background-image: url(../images/sprite.png);
  background-position: -1308px -739px;
  width: 33px;
  height: 30px;
}
%icon-rating_reviews_big_active {
  background-image: url(../images/sprite.png);
  background-position: -1346px -739px;
  width: 33px;
  height: 30px;
}
%icon-read_more_arrow_down {
  background-image: url(../images/sprite.png);
  background-position: -1354px -585px;
  width: 9px;
  height: 4px;
}
%icon-read_more_arrow_up {
  background-image: url(../images/sprite.png);
  background-position: -1368px -585px;
  width: 9px;
  height: 4px;
}
%icon-repairs_icon {
  background-image: url(../images/sprite.png);
  background-position: -646px -739px;
  width: 38px;
  height: 38px;
}
%icon-review_no_img {
  background-image: url(../images/sprite.png);
  background-position: -174px -739px;
  width: 39px;
  height: 46px;
}
%icon-search-close {
  background-image: url(../images/sprite.png);
  background-position: -773px -634px;
  width: 14px;
  height: 14px;
}
%icon-search_header {
  background-image: url(../images/sprite.png);
  background-position: -682px -700px;
  width: 20px;
  height: 20px;
}
%icon-service {
  background-image: url(../images/sprite.png);
  background-position: -465px -634px;
  width: 44px;
  height: 44px;
}
%icon-service_hover_arrow {
  background-image: url(../images/sprite.png);
  background-position: -1052px -605px;
  width: 4px;
  height: 8px;
}
%icon-service_title_icon {
  background-image: url(../images/sprite.png);
  background-position: -1449px -739px;
  width: 24px;
  height: 24px;
}
%icon-share_facebook {
  background-image: url(../images/sprite.png);
  background-position: -900px -739px;
  width: 33px;
  height: 33px;
}
%icon-share_facebook_hover {
  background-image: url(../images/sprite.png);
  background-position: -302px -739px;
  width: 38px;
  height: 38px;
}
%icon-share_instagram {
  background-image: url(../images/sprite.png);
  background-position: -976px -739px;
  width: 33px;
  height: 33px;
}
%icon-share_instagram_hover {
  background-image: url(../images/sprite.png);
  background-position: -689px -739px;
  width: 38px;
  height: 38px;
}
%icon-share_vk {
  background-image: url(../images/sprite.png);
  background-position: -861px -739px;
  width: 34px;
  height: 33px;
}
%icon-share_vk_hover {
  background-image: url(../images/sprite.png);
  background-position: -603px -739px;
  width: 38px;
  height: 38px;
}
%icon-share_youtube {
  background-image: url(../images/sprite.png);
  background-position: -938px -739px;
  width: 33px;
  height: 33px;
}
%icon-share_youtube_hover {
  background-image: url(../images/sprite.png);
  background-position: -818px -739px;
  width: 38px;
  height: 37px;
}
%icon-shares {
  background-image: url(../images/sprite.png);
  background-position: 0px -826px;
  width: 32px;
  height: 44px;
}
%icon-sidebar_slider_arrow_next {
  background-image: url(../images/sprite.png);
  background-position: -899px -634px;
  width: 7px;
  height: 12px;
}
%icon-sidebar_slider_arrow_next_hover {
  background-image: url(../images/sprite.png);
  background-position: -946px -634px;
  width: 6px;
  height: 12px;
}
%icon-sidebar_slider_arrow_prev {
  background-image: url(../images/sprite.png);
  background-position: -887px -634px;
  width: 7px;
  height: 12px;
}
%icon-sidebar_slider_arrow_prev_hover {
  background-image: url(../images/sprite.png);
  background-position: -935px -634px;
  width: 6px;
  height: 12px;
}
%icon-video_play {
  background-image: url(../images/sprite.png);
  background-position: -199px -585px;
  width: 146px;
  height: 146px;
}
%icon-vk-hover {
  background-image: url(../images/sprite.png);
  background-position: -775px -739px;
  width: 38px;
  height: 38px;
}
%icon-vk {
  background-image: url(../images/sprite.png);
  background-position: -1014px -739px;
  width: 32px;
  height: 32px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  %icon-add_photo_icon {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-added_to_cart {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-address {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-all_catalog_line-h {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-all_catalog_line {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-all_catalog_tile-h {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-all_catalog_tile {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-answer_icon {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-arrow_select {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-arrow_select_opener {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-art-lemon_icon {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-art-lemon_icon_h {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-banner_top_bg {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-bg_nav_ul {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-breadcrumbs_arrow {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-breadcrumbs_arrow_black {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-buy-item {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-calendar {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-card_header {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-catalog_slider_arrow_next {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-catalog_slider_arrow_prev {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-catalog_slider_dots {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-catalog_slider_dots_active {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-close-popup-video {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-close_popup_review {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-consultation_link_icon {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-contacts_email_icon {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-contacts_social_icon {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-contacts_tel_icon {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-counter {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-courier_icon {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-crug {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-delete_item {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-delete_selected {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-delete_selected_h {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-delete_selected_yh {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-delivery {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-delivery_mist {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-delivery_nova {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-dislike_icon {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-dislike_icon_h {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-evaluation_smile1 {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-evaluation_smile2 {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-evaluation_smile3 {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-evaluation_smile4 {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-evaluation_smile5 {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-facebook-hover {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-facebook {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-faq_close_answer {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-faq_open_answer {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-feedback_checkbox {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-feedback_checkbox_checked {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-feedback_close {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-feedback_data {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-feedback_phone {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-feedback_time {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-gallery_box_slick_next {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-gallery_box_slick_prev {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-go_services {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-google {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-google_hover {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-in_stock_icon {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-info_buy_product_icon {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-instagram-hover {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-instagram {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-language_arrow {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-less {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-like_icon {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-like_icon_h {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-link_back {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-login_header {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-logo_footer {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-logo_header {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-map-location_schedule_icon {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-map-location_tel_icon {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-master_icon {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-more {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-more_arrow {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-more_arrow_h {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-my_exit {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-my_exit_hover {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-my_info {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-my_info_hover {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-my_orders {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-my_orders_hover {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-my_password {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-my_password_hover {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-nav_arrow {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-nav_arrow_hover {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-nav_icon {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-original_icon {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-our_team_arrow_next {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-our_team_arrow_prev {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-page_nav_arrow_next {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-page_nav_arrow_prev {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-payment_liqpay {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-payment_master {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-payment_privat {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-payment_visa {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-phone {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-phone_header {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-product_facebook {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-product_google {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-product_instagram {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-product_vk {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-quantity_answer_icon {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-rating_reviews {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-rating_reviews_active {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-rating_reviews_big {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-rating_reviews_big_active {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-read_more_arrow_down {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-read_more_arrow_up {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-repairs_icon {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-review_no_img {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-search-close {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-search_header {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-service {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-service_hover_arrow {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-service_title_icon {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-share_facebook {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-share_facebook_hover {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-share_instagram {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-share_instagram_hover {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-share_vk {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-share_vk_hover {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-share_youtube {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-share_youtube_hover {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-shares {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-sidebar_slider_arrow_next {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-sidebar_slider_arrow_next_hover {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-sidebar_slider_arrow_prev {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-sidebar_slider_arrow_prev_hover {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-video_play {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-vk-hover {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
  %icon-vk {
    background-image: url(../images/sprite@2x.png);
    background-size: 1900px 870px;
  }
}
