<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
<div id="wrapper">
    {% include 'hidden-menu.html' %}
    {% include 'hidden-search.html' %}
    {% include 'hidden-feedback.html' %}

    {% include 'header.html' %}
    <div id="main">
        <div class="image-top" style="background-image: url('/data/top_asus_bg.jpg');">
            <div class="image-holder">
                <ul class="breadcrumbs">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/">Блог</a></li>
                    <li><span>Как разобрать ноутбук Asus</span></li>
                </ul>
                <span class="title-text">КАК РАЗОБРАТЬ НОУТБУК ASUS</span>
            </div>
        </div>
        <div class="content-blog">
            <div class="blog-holder">
                <div class="content-img">
                  <img src="data/content_blog_img.jpg" alt="notebook">
                </div>
                <div class="content-info">
                  <span class="content-data">16.01.2016</span>
                  <span class="content-title">Как разобрать ноутбук ASUS</span>
                  <div class="text-holder">
                    <p>Proin est elentesque risus magna vulputate vitae sodales uam morbi non sem lacus porta mollis. Nunc condime ntum metus eud In molestie sed consecte lorem ipsum dolor sit amet conse adipisicing elit sed do incididunt ut labore ul dolore mag Ut enim ad minim veniam quis nostrud exercita tion ullamco boris nisi aliquip exa commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <p>Proin est elentesque risus magna vulputate vitae sodales uam morbi non sem lacus porta mollis. Nunc condime ntum metus eud In molestie sed consecte lorem ipsum dolor sit amet conse adipisicing elit sed do incididunt ut labore ul dolore mag Ut enim ad minim veniam quis nostrud exercita tion ullamco boris nisi aliquip exa commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <ol>
                      <li>Proin est elentesque</li>
                      <li>Proin est elentesque</li>
                      <li>Proin est elentesque</li>
                      <li>Proin est elentesque</li>
                    </ol>
                    <p>Proin est elentesque risus magna vulputate vitae sodales uam morbi non sem lacus porta mollis. Nunc condime ntum metus eud In molestie sed consecte lorem ipsum dolor sit amet conse adipisicing elit sed do incididunt ut labore ul dolore mag Ut enim ad minim veniam quis nostrud exercita tion ullamco boris nisi aliquip exa commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <img src="data/content_blog_img.jpg" alt="notebook">
                    <p>Proin est elentesque risus magna vulputate vitae sodales uam morbi non sem lacus porta mollis. Nunc condime ntum metus eud In molestie sed consecte lorem ipsum dolor sit amet conse adipisicing elit sed do incididunt ut labore ul dolore mag Ut enim ad minim veniam quis nostrud exercita tion ullamco boris nisi aliquip exa commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <ul>
                      <li><a href="#">Proin est elentesque</a></li>
                      <li>Proin est elentesque</li>
                      <li>Proin est elentesque</li>
                      <li>Proin est elentesque</li>
                    </ul>
                    <p>Proin est elentesque risus magna vulputate vitae sodales uam morbi non sem lacus porta mollis. Nunc condime ntum metus eud In molestie sed consecte lorem ipsum dolor sit amet conse adipisicing elit sed do incididunt ut labore ul dolore mag Ut enim ad minim veniam quis nostrud exercita tion ullamco boris nisi aliquip exa commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

                  </div>
                </div>
                <div class="double-slider">
                  <div class="blog-big-slider">
                    <div class="slide-img">
                      <img src="data/double_slider_big_img1.jpg" alt="notebook">
                    </div>
                    <div class="slide-img">
                      <img src="data/double_slider_big_img2.jpg" alt="notebook">
                    </div>
                    <div class="slide-img">
                      <img src="data/double_slider_big_img3.jpg" alt="notebook">
                    </div>
                    <div class="slide-img">
                      <img src="data/double_slider_big_img4.jpg" alt="notebook">
                    </div>
                    <div class="slide-img">
                      <img src="data/double_slider_big_img5.jpg" alt="notebook">
                    </div>
                  </div>
                  <div class="blog-mini-slider">
                    <div class="slide-img">
                      <img src="data/double_slider_mini_img1.jpg" alt="notebook">
                    </div>
                    <div class="slide-img">
                      <img src="data/double_slider_mini_img2.jpg" alt="notebook">
                    </div>
                    <div class="slide-img">
                      <img src="data/double_slider_mini_img3.jpg" alt="notebook">
                    </div>
                    <div class="slide-img">
                      <img src="data/double_slider_mini_img4.jpg" alt="notebook">
                    </div>
                    <div class="slide-img">
                      <img src="data/double_slider_mini_img5.jpg" alt="notebook">
                    </div>
                  </div>
                </div>
                <div class="social-box">
                    <span class="share">Поделиться</span>
                    <div class="share42init"></div>
                </div>
            </div>
            <div class="blog-sidebar">
                <div class="sidebar-news">
                    <span class="blog-title">Читайте также</span>
                    <ul class="blog-news">
                        <li class="news">
                          <div class="news-img">
                            <a href="#"><img src="data/news_img1.jpg" width="112" height="65" alt="news"></a>
                          </div>
                          <div class="news-info">
                            <a href="#" class="news-title">Как разобрать планшет Lenovo?</a>
                            <div class="short-info">
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ...</p>
                            </div>
                          </div>
                        </li>
                        <li class="news">
                          <div class="news-img">
                            <a href="#"><img src="data/news_img2.jpg" width="112" height="65" alt="news"></a>
                          </div>
                          <div class="news-info">
                            <a href="#" class="news-title">Как разобрать планшет Lenovo?</a>
                            <div class="short-info">
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ...</p>
                            </div>
                          </div>
                        </li>
                        <li class="news">
                          <div class="news-img">
                            <a href="#"><img src="data/news_img3.jpg" width="112" height="65" alt="news"></a>
                          </div>
                          <div class="news-info">
                            <a href="#" class="news-title">Как разобрать планшет Lenovo?</a>
                            <div class="short-info">
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ...</p>
                            </div>
                          </div>
                        </li>
                        <li class="news">
                          <div class="news-img">
                            <a href="#"><img src="data/news_img4.jpg" width="112" height="65" alt="news"></a>
                          </div>
                          <div class="news-info">
                            <a href="#" class="news-title">Как разобрать планшет Lenovo?</a>
                            <div class="short-info">
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ...</p>
                            </div>
                          </div>
                        </li>
                    </ul>
                </div>
                <div class="top-products">
                    <span class="top-title">ТОП ТОВАРЫ</span>
                    <div class="top-products-slider">
                        <div class="product-slide">
                            <a href="#">
                                <span class="top-icon">TOP</span>
                                <div class="product-img">
                                    <img src="data/top_product_img1.jpg" alt="top">
                                </div>
                                <span class="product-name">
                                    Asus VivoBook Max X541SA (X541SA-XO041D) Black
                                </span>
                                <span class="topical-price">$849.99</span>
                            </a>
                        </div>
                        <div class="product-slide">
                            <a href="#">
                                <span class="top-icon">TOP</span>
                                <div class="product-img">
                                    <img src="data/top_product_img1.jpg" alt="top">
                                </div>
                                <span class="product-name">
                                    Asus Vivo Book Max X541SA Black
                                </span>
                                <span class="topical-price">$749.99</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="top-products">
                    <span class="top-title">НАШИ УСЛУГИ</span>
                    <div class="top-products-slider">
                        <div class="product-slide services-slide">
                            <a href="#">
                                <div class="product-img">
                                    <img src="data/our_services_img1.png" alt="services">
                                </div>
                                <div class="product-info">
                                    <span class="product-name">Ремонт Apple</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
                                </div>
                            </a>
                        </div>
                        <div class="product-slide services-slide">
                            <a href="#">
                                <div class="product-img">
                                    <img src="data/our_services_img1.png" alt="services">
                                </div>
                                <div class="product-info">
                                    <span class="product-name">Ремонт Samsung</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}

</div>
{% include 'js.html' %}
</body>
</html>
