<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
<div id="wrapper">
    {% include 'hidden-menu.html' %}
    {% include 'hidden-search.html' %}
    {% include 'hidden-feedback.html' %}

    {% include 'header.html' %}
    <div id="main">
        <div class="image-top" style="background-image: url('/data/top-box-bg-services-apple.jpg');">
            <div class="image-holder">
                <ul class="breadcrumbs">
                    <li><a href="/">Главная</a></li>
                    <li><a href="our-services.html">Наши услуги</a></li>
                    <li><span>Ремонт Apple</span></li>
                </ul>
                <span class="title-text">РЕМОНТ APPLE</span>
            </div>
        </div>
        <div class="content-blog services">
          <div class="special-sliders">
              <div class="slide-box">
                  <a href="#">
                    <img src="data/suggestions_img1.jpg" alt="image description">
                    <span class="slide-name">БАННЕР С ПРЕДЛОЖЕНИЯМИ</span>
                  </a>
              </div>
              <div class="slide-box">
                  <a href="#">
                    <img src="data/suggestions_img2.jpg" alt="image description">
                    <span class="slide-name">БАННЕР С ПРЕДЛОЖЕНИЯМИ</span>
                  </a>
              </div>
              <div class="slide-box">
                  <a href="#">
                    <img src="data/suggestions_img1.jpg" alt="image description">
                    <span class="slide-name">БАННЕР С ПРЕДЛОЖЕНИЯМИ</span>
                  </a>
              </div>
              <div class="slide-box">
                  <a href="#">
                    <img src="data/suggestions_img2.jpg" alt="image description">
                    <span class="slide-name">БАННЕР С ПРЕДЛОЖЕНИЯМИ</span>
                  </a>
              </div>
          </div>
            <ul class="all-services">
                <li class="service-block">
                    <span class="open-nav-service">
                        <div class="service-img">
                            <img src="data/serviсe_apple_img1.jpg" title="ipod" alt="ipod"/>
                        </div>
                        <span class="service-box-title">Ремонт Ipod</span>
                    </span>
                    <div class="service-box">
                        <div class="service-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            </p>
                        </div>
                        <ul class="nav-service">
                            <li><a href="#">Ipod</a></li>
                            <li><a href="#">Ipod 2</a></li>
                            <li><a href="#">Ipod 3</a></li>
                            <li><a href="#">Ipod 4</a></li>
                            <li><a href="#" class="all-link">Все<em></em></a></li>
                        </ul>
                    </div>
                </li>
                <li class="service-block">
                    <span class="open-nav-service">
                        <div class="service-img">
                            <img src="data/serviсe_apple_img2.jpg" title="ipad" alt="ipad"/>
                        </div>
                        <span class="service-box-title">Ремонт Ipad</span>
                    </span>
                    <div class="service-box">
                        <div class="service-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            </p>
                        </div>
                        <ul class="nav-service">
                            <li><a href="#">Ipad mini 2</a></li>
                            <li><a href="#">Ipad mini 4</a></li>
                            <li><a href="#">Ipad Air 2</a></li>
                            <li><a href="#">Ipad Pro</a></li>
                            <li><a href="#" class="all-link">Все<em></em></a></li>
                        </ul>
                    </div>
                </li>
                <li class="service-block">
                    <span class="open-nav-service">
                        <div class="service-img">
                            <img src="data/serviсe_apple_img3.jpg" title="iphone" alt="iphone"/>
                        </div>
                        <span class="service-box-title">Ремонт Iphone</span>
                    </span>
                    <div class="service-box">
                        <div class="service-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            </p>
                        </div>
                        <ul class="nav-service">
                            <li><a href="#">5</a></li>
                            <li><a href="#">5s</a></li>
                            <li><a href="#">5c</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#">6 Plus</a></li>
                            <li><a href="#">6s</a></li>
                            <li><a href="#">6s Plus</a></li>
                            <li><a href="#">7</a></li>
                            <li><a href="#">7 Plus</a></li>
                            <li><a href="our-services-apple-iphone.html" class="all-link">Все<em></em></a></li>
                        </ul>
                    </div>
                </li>
                <li class="service-block">
                    <span class="open-nav-service">
                        <div class="service-img">
                            <img src="data/serviсe_apple_img4.jpg" title="macbook" alt="macbook"/>
                        </div>
                        <span class="service-box-title">Ремонт Macbook</span>
                    </span>
                    <div class="service-box">
                        <div class="service-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            </p>
                        </div>
                        <ul class="nav-service">
                            <li><a href="#">MacBook</a></li>
                            <li><a href="#">MacBook Air</a></li>
                            <li><a href="#">MacBook Pro</a></li>
                            <li><a href="#" class="all-link">Все<em></em></a></li>
                        </ul>
                    </div>
                </li>
                <li class="service-block">
                    <span class="open-nav-service">
                        <div class="service-img">
                            <img src="data/serviсe_apple_img5.jpg" title="apple watch" alt="apple watch"/>
                        </div>
                        <span class="service-box-title">Ремонт Apple Watch</span>
                    </span>
                    <div class="service-box">
                        <div class="service-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            </p>
                        </div>
                        <ul class="nav-service">
                            <li><a href="#">Apple Watc</a></li>
                            <li><a href="#">Apple Watc Sport</a></li>
                            <li><a href="#">Apple Watc Series 2</a></li>
                            <li><a href="#" class="all-link">Все<em></em></a></li>
                        </ul>
                    </div>
                </li>
                <li class="service-block">
                    <span class="open-nav-service">
                        <div class="service-img">
                            <img src="data/serviсe_apple_img6.jpg" title="imac" alt="imac"/>
                        </div>
                        <span class="service-box-title">Ремонт IMac</span>
                    </span>
                    <div class="service-box">
                        <div class="service-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            </p>
                        </div>
                        <ul class="nav-service">
                            <li><a href="#">Apple iMac 21.5"</a></li>
                            <li><a href="#">Apple iMac Retina 4K 21.5"</a></li>
                            <li><a href="#">Apple iMac Retina 5K 27"</a></li>
                            <li><a href="#" class="all-link">Все<em></em></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="content-bottom">
          <div class="content-bottom-holder">
            <div class="image-box">
              <img src="data/text-image.png" width="555" height="574" alt="image description">
            </div>
            <div class="content-bottom-box">
              <h1 class="box-title">TRENDS STORE</h1>
              <div class="box-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                  ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                  fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                  mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit Lorem ipsum dolor sit amet,
                  consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                  ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                  fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                  mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                  ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                  fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                  mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit Lorem ipsum dolor sit amet,
                  consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                  ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                  fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                  mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
                </p>
              </div>
              <a href="#" class="go-services">Подробнее<em></em></a>
            </div>
          </div>
        </div>
    </div>

    {% include 'footer.html' %}

</div>
{% include 'js.html' %}
</body>
</html>
