<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
<div id="wrapper">
    {% include 'hidden-menu.html' %}
    {% include 'hidden-search.html' %}
    {% include 'hidden-feedback.html' %}

    {% include 'header.html' %}
    <main id="main">
        <div class="image-top" style="background-image: url('/data/top-box-bg-services.jpg');">
            <div class="image-holder">
                <ul class="breadcrumbs">
                    <li><a href="/">Главная</a></li>
                    <li><span>Наши услуги</span></li>
                </ul>
                <span class="title-text">
                    НАШИ УСЛУГИ
                </span>
            </div>
        </div>
        <div class="content-blog services">
          <div class="special-sliders">
              <div class="slide-box">
                  <img src="data/suggestions_img1.jpg" alt="image description">
                  <span class="slide-name">БАННЕР С ПРЕДЛОЖЕНИЯМИ</span>
              </div>
              <div class="slide-box">
                  <img src="data/suggestions_img2.jpg" alt="image description">
                  <span class="slide-name">БАННЕР С ПРЕДЛОЖЕНИЯМИ</span>
              </div>
              <div class="slide-box">
                  <img src="data/suggestions_img1.jpg" alt="image description">
                  <span class="slide-name">БАННЕР С ПРЕДЛОЖЕНИЯМИ</span>
              </div>
              <div class="slide-box">
                  <img src="data/suggestions_img2.jpg" alt="image description">
                  <span class="slide-name">БАННЕР С ПРЕДЛОЖЕНИЯМИ</span>
              </div>
          </div>
            <ul class="all-services">
                <li class="service-block">
                    <span class="open-nav-service">
                        <div class="service-img">
                            <img src="data/serviсe_img1.jpg" title="services" title="notebooks" alt="notebooks"/>
                        </div>
                        <span class="service-box-title">Ремонт ноутбуков</span>
                    </span>
                    <div class="service-box">
                        <div class="service-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            </p>
                        </div>
                        <ul class="nav-service">
                            <li><a href="#">ASUS</a></li>
                            <li><a href="#">SAMSUNG</a></li>
                            <li><a href="#">DELL</a></li>
                            <li><a href="#">LENOVO</a></li>
                            <li><a href="#">ACER</a></li>
                            <li><a href="#">HP</a></li>
                            <li><a href="#" class="all-link">Все<em></em></a></li>
                        </ul>
                    </div>
                </li>
                <li class="service-block">
                    <span class="open-nav-service">
                        <div class="service-img">
                            <img src="data/serviсe_img2.jpg" title="tablets" alt="tablets"/>
                        </div>
                        <span class="service-box-title">Ремонт планшетов</span>
                    </span>
                    <div class="service-box">
                        <div class="service-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            </p>
                        </div>
                        <ul class="nav-service">
                            <li><a href="#">ASUS</a></li>
                            <li><a href="#">SAMSUNG</a></li>
                            <li><a href="#">LENOVO</a></li>
                            <li><a href="#">XIAOMI</a></li>
                            <li><a href="#">ACER</a></li>
                            <li><a href="#" class="all-link">Все<em></em></a></li>
                        </ul>
                    </div>
                </li>
                <li class="service-block">
                    <span class="open-nav-service">
                        <div class="service-img">
                            <img src="data/serviсe_img3.jpg" title="apple" alt="apple"/>
                        </div>
                        <span class="service-box-title">Ремонт Apple</span>
                    </span>
                    <div class="service-box">
                        <div class="service-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            </p>
                        </div>
                        <ul class="nav-service">
                            <li><a href="#">Iphone</a></li>
                            <li><a href="#">IPad</a></li>
                            <li><a href="#">Mackbook</a></li>
                            <li><a href="#">Apple watch</a></li>
                            <li><a href="#">Imac</a></li>
                            <li><a href="#">IPod</a></li>
                            <li><a href="our-services-apple.html" class="all-link">Все<em></em></a></li>
                        </ul>
                    </div>
                </li>
                <li class="service-block">
                    <span class="open-nav-service">
                        <div class="service-img">
                            <img src="data/serviсe_img4.jpg" title="samsung" alt="samsung"/>
                        </div>
                        <span class="service-box-title">Ремонт Samsung</span>
                    </span>
                    <div class="service-box">
                        <div class="service-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            </p>
                        </div>
                        <ul class="nav-service">
                            <li><a href="#">Смартфоны</a></li>
                            <li><a href="#">Ноутбуки</a></li>
                            <li><a href="#">Планшеты</a></li>
                            <li><a href="#">Samsung Gear</a></li>
                            <li><a href="#" class="all-link">Все<em></em></a></li>
                        </ul>
                    </div>
                </li>
                <li class="service-block">
                    <span class="open-nav-service">
                        <div class="service-img">
                            <img src="data/serviсe_img5.jpg" title="smarphones" alt="smartphones"/>
                        </div>
                        <span class="service-box-title">Ремонт SmartPhone</span>
                    </span>
                    <div class="service-box">
                        <div class="service-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            </p>
                        </div>
                        <ul class="nav-service">
                            <li><a href="#">Samsung</a></li>
                            <li><a href="our-service-smartphones-sony.html">SONY</a></li>
                            <li><a href="#">ASUS</a></li>
                            <li><a href="#">Xiaomi</a></li>
                            <li><a href="#">Meizu</a></li>
                            <li><a href="#">Nokia</a></li>
                            <li><a href="#" class="all-link">Все<em></em></a></li>
                        </ul>
                    </div>
                </li>
                <li class="service-block">
                    <span class="open-nav-service">
                        <div class="service-img">
                            <img src="data/serviсe_img6.jpg" title="electric transport" alt="electric transport"/>
                        </div>
                        <span class="service-box-title">Ремонт электротранспорта</span>
                    </span>
                    <div class="service-box">
                        <div class="service-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            </p>
                        </div>
                        <ul class="nav-service">
                            <li><a href="#">Гироборды</a></li>
                            <li><a href="#">Гироскутеры</a></li>
                            <li><a href="#">Моноколеса</a></li>
                            <li><a href="#">Электросамокаты</a></li>
                            <li><a href="#">Электроскутеры</a></li>
                            <li><a href="#">Электроскейты</a></li>
                            <li><a href="#" class="all-link">Все<em></em></a></li>
                        </ul>
                    </div>
                </li>
                <li class="service-block">
                    <span class="open-nav-service">
                        <div class="service-img">
                            <img src="data/serviсe_img7.jpg" title="game console" alt="game console"/>
                        </div>
                        <span class="service-box-title">Ремонт игровых приставок</span>
                    </span>
                    <div class="service-box">
                        <div class="service-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            </p>
                        </div>
                        <ul class="nav-service">
                            <li><a href="#">Xbox one</a></li>
                            <li><a href="#">IXbox 360</a></li>
                            <li><a href="#">Sony Ps4</a></li>
                            <li><a href="#">Sony Ps3</a></li>
                            <li><a href="#" class="all-link">Все<em></em></a></li>
                        </ul>
                    </div>
                </li>
                <li class="service-block">
                    <span class="open-nav-service">
                        <div class="service-img">
                            <img src="data/serviсe_img8.jpg" title="robotics" alt="robotics"/>
                        </div>
                        <span class="service-box-title">Ремонт робототехники</span>
                    </span>
                    <div class="service-box">
                        <div class="service-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            </p>
                        </div>
                        <ul class="nav-service">
                            <li><a href="#">Iphone</a></li>
                            <li><a href="#">IPad</a></li>
                            <li><a href="#">Mackbook</a></li>
                            <li><a href="#">Apple watch</a></li>
                            <li><a href="#">Imac</a></li>
                            <li><a href="#">IPod</a></li>
                            <li><a href="#" class="all-link">Все<em></em></a></li>
                        </ul>
                    </div>
                </li>
                <li class="service-block">
                    <span class="open-nav-service">
                        <div class="service-img">
                            <img src="data/serviсe_img9.jpg" title="accessories" alt="accessories"/>
                        </div>
                        <span class="service-box-title">Ремонт аксессуаров и комплектующих</span>
                    </span>
                    <div class="service-box">
                        <div class="service-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            </p>
                        </div>
                        <ul class="nav-service">
                            <li><a href="#">Iphone</a></li>
                            <li><a href="#">IPad</a></li>
                            <li><a href="#">Mackbook</a></li>
                            <li><a href="#">Apple watch</a></li>
                            <li><a href="#">Imac</a></li>
                            <li><a href="#">IPod</a></li>
                            <li><a href="#" class="all-link">Все<em></em></a></li>
                        </ul>
                    </div>
                </li>
                <li class="service-block">
                    <span class="open-nav-service">
                        <div class="service-img">
                            <img src="data/serviсe_img10.jpg" title="other" alt="other"/>
                        </div>
                        <span class="service-box-title">Ремонт другой техники</span>
                    </span>
                    <div class="service-box">
                        <div class="service-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            </p>
                        </div>
                        <ul class="nav-service">
                            <li><a href="#">Iphone</a></li>
                            <li><a href="#">IPad</a></li>
                            <li><a href="#">Mackbook</a></li>
                            <li><a href="#">Apple watch</a></li>
                            <li><a href="#">Imac</a></li>
                            <li><a href="#">IPod</a></li>
                            <li><a href="#" class="all-link">Все<em></em></a></li>
                        </ul>
                    </div>
                </li>
                <li class="service-block">
                    <span class="open-nav-service">
                        <div class="service-img"></div>
                        <span class="service-box-title">Дополнительные услуги</span>
                    </span>
                    <div class="service-box">
                        <div class="service-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            </p>
                        </div>
                        <ul class="nav-service">
                            <li><a href="#">Iphone</a></li>
                            <li><a href="#">IPad</a></li>
                            <li><a href="#">Mackbook</a></li>
                            <li><a href="#">Apple watch</a></li>
                            <li><a href="#">Imac</a></li>
                            <li><a href="#">IPod</a></li>
                            <li><a href="#" class="all-link">Все<em></em></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="content-box article">
          <div class="box-title">ПОСЛЕДНИЕ СТАТЬИ <span class="box-signature">Будь в курсе всех статей и новостей</span></div>
          <div class="product-list">
            <ul class="tabset">
              <li><a class="tab active" href="#tab-31">ВСЕ СТАТЬИ</a></li>
              <li><a class="tab" href="#tab-32">ОБЗОРЫ</a></li>
              <li><a class="tab" href="#tab-33">РЕМОНТ</a></li>
              <li><a class="tab" href="#tab-34">НОВОСТИ ТЕХНИКИ</a></li>
              <li><a class="tab" href="#tab-35">ОБЗОРЫ</a></li>
              <li><a class="tab" href="#tab-36">АКСЕССУАРЫ</a></li>
            </ul>
            <div class="tab-holder">
              <div id="tab-31">
                <div class="article-slider-holder">
                  <ul class="news-slider">
                    <li class="slide-news-box">
                      <div class="news-box-img">
                        <a href="#"><img src="data/news_box_img1.jpg" alt="apple"></a>
                      </div>
                      <div class="news-box-info">
                        <span class="info-date">16.01.2016</span>
                        <a href="#">Презентация Apple "Hello Again" - новый MacBook Pro</a>
                        <div class="info-text">
                          <p>Она получила название Touch Bar и заменяет функциональные клавиши, а также имеет возможность приспосабливаться... </p>
                        </div>
                      </div>
                    </li>
                    <li class="slide-news-box">
                      <div class="news-box-img">
                        <a href="#"><img src="data/news_box_img2.jpg" alt="apple"></a>
                      </div>
                      <div class="news-box-info">
                        <span class="info-date">16.01.2016</span>
                        <a href="#">Apple запустила программу замены дефектных кабелей USB-C </a>
                        <div class="info-text">
                          <p>Она получила название Touch Bar и заменяет функционалвозможность приспосабливаться используемым приложениям. Данная панель... </p>
                        </div>
                      </div>
                    </li>
                    <li class="slide-news-box">
                      <div class="news-box-img">
                        <a href="#"><img src="data/news_box_img3.jpg" alt="apple"></a>
                      </div>
                      <div class="news-box-info">
                        <span class="info-date">16.01.2016</span>
                        <a href="#">Перевели дату на 1 января 1970 года и не включается iPhone, iPad? Есть решение.</a>
                        <div class="info-text">
                          <p>Она получила название Touch Bar и заменяет функционалвозможность приспосабливаться используемым приложениям. Данная панель... </p>
                        </div>
                      </div>
                    </li>
                    <li class="slide-news-box">
                      <div class="news-box-img">
                        <a href="#"><img src="data/news_box_img1.jpg" alt="apple"></a>
                      </div>
                      <div class="news-box-info">
                        <span class="info-date">16.01.2016</span>
                        <a href="#">Презентация Apple "Hello Again" - новый MacBook Pro</a>
                        <div class="info-text">
                          <p>Она получила название Touch Bar и заменяет функциональные клавиши, а также имеет возможность приспосабливаться... </p>
                        </div>
                      </div>
                    </li>
                    <li class="slide-news-box">
                      <div class="news-box-img">
                        <a href="#"><img src="data/news_box_img2.jpg" alt="apple"></a>
                      </div>
                      <div class="news-box-info">
                        <span class="info-date">16.01.2016</span>
                        <a href="#">Apple запустила программу замены дефектных кабелей USB-C </a>
                        <div class="info-text">
                          <p>Она получила название Touch Bar и заменяет функционалвозможность приспосабливаться используемым приложениям. Данная панель... </p>
                        </div>
                      </div>
                    </li>
                    <li class="slide-news-box">
                      <div class="news-box-img">
                        <a href="#"><img src="data/news_box_img3.jpg" alt="apple"></a>
                      </div>
                      <div class="news-box-info">
                        <span class="info-date">16.01.2016</span>
                        <a href="#">Перевели дату на 1 января 1970 года и не включается iPhone, iPad? Есть решение.</a>
                        <div class="info-text">
                          <p>Она получила название Touch Bar и заменяет функционалвозможность приспосабливаться используемым приложениям. Данная панель... </p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div id="tab-32">
                <div class="article-slider-holder">
                  <ul class="news-slider">
                    <li class="slide-news-box">
                      <div class="news-box-img">
                        <a href="#"><img src="data/news_box_img4.jpg" alt="apple"></a>
                      </div>
                      <div class="news-box-info">
                        <span class="info-date">16.01.2016</span>
                        <a href="#">Презентация Samsung "Hello Again" - новый S8</a>
                        <div class="info-text">
                          <p>Она получила название Touch Bar и заменяет функциональные клавиши, а также имеет возможность приспосабливаться... </p>
                        </div>
                      </div>
                    </li>
                    <li class="slide-news-box">
                      <div class="news-box-img">
                        <a href="#"><img src="data/news_box_img5.jpg" alt="apple"></a>
                      </div>
                      <div class="news-box-info">
                        <span class="info-date">16.01.2016</span>
                        <a href="#">Samsung запустила программу замены дефектных кабелей USB-C </a>
                        <div class="info-text">
                          <p>Она получила название Touch Bar и заменяет функционалвозможность приспосабливаться используемым приложениям. Данная панель... </p>
                        </div>
                      </div>
                    </li>
                    <li class="slide-news-box">
                      <div class="news-box-img">
                        <a href="#"><img src="data/news_box_img6.jpg" alt="apple"></a>
                      </div>
                      <div class="news-box-info">
                        <span class="info-date">16.01.2016</span>
                        <a href="#">Перевели дату на 1 января 1970 года и не включается Samsung? Есть решение.</a>
                        <div class="info-text">
                          <p>Она получила название Touch Bar и заменяет функционалвозможность приспосабливаться используемым приложениям. Данная панель... </p>
                        </div>
                      </div>
                    </li>
                    <li class="slide-news-box">
                      <div class="news-box-img">
                        <a href="#"><img src="data/news_box_img4.jpg" alt="apple"></a>
                      </div>
                      <div class="news-box-info">
                        <span class="info-date">16.01.2016</span>
                        <a href="#">Презентация Samsung "Hello Again" - новый S8</a>
                        <div class="info-text">
                          <p>Она получила название Touch Bar и заменяет функциональные клавиши, а также имеет возможность приспосабливаться... </p>
                        </div>
                      </div>
                    </li>
                    <li class="slide-news-box">
                      <div class="news-box-img">
                        <a href="#"><img src="data/news_box_img5.jpg" alt="apple"></a>
                      </div>
                      <div class="news-box-info">
                        <span class="info-date">16.01.2016</span>
                        <a href="#">Samsung запустила программу замены дефектных кабелей USB-C </a>
                        <div class="info-text">
                          <p>Она получила название Touch Bar и заменяет функционалвозможность приспосабливаться используемым приложениям. Данная панель... </p>
                        </div>
                      </div>
                    </li>
                    <li class="slide-news-box">
                      <div class="news-box-img">
                        <a href="#"><img src="data/news_box_img6.jpg" alt="apple"></a>
                      </div>
                      <div class="news-box-info">
                        <span class="info-date">16.01.2016</span>
                        <a href="#">Перевели дату на 1 января 1970 года и не включается Samsung? Есть решение.</a>
                        <div class="info-text">
                          <p>Она получила название Touch Bar и заменяет функционалвозможность приспосабливаться используемым приложениям. Данная панель... </p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div id="tab-33">
                <div class="article-slider-holder">
                  <ul class="news-slider">
                    <li class="slide-news-box">
                      <div class="news-box-img">
                        <a href="#"><img src="data/news_box_img7.jpg" alt="apple"></a>
                      </div>
                      <div class="news-box-info">
                        <span class="info-date">16.01.2016</span>
                        <a href="#">Презентация Asus "Hello Again" - новый Asus</a>
                        <div class="info-text">
                          <p>Она получила название Touch Bar и заменяет функциональные клавиши, а также имеет возможность приспосабливаться... </p>
                        </div>
                      </div>
                    </li>
                    <li class="slide-news-box">
                      <div class="news-box-img">
                        <a href="#"><img src="data/news_box_img8.jpg" alt="apple"></a>
                      </div>
                      <div class="news-box-info">
                        <span class="info-date">16.01.2016</span>
                        <a href="#">Asus запустила программу замены дефектных кабелей USB-C </a>
                        <div class="info-text">
                          <p>Она получила название Touch Bar и заменяет функционалвозможность приспосабливаться используемым приложениям. Данная панель... </p>
                        </div>
                      </div>
                    </li>
                    <li class="slide-news-box">
                      <div class="news-box-img">
                        <a href="#"><img src="data/news_box_img9.jpg" alt="apple"></a>
                      </div>
                      <div class="news-box-info">
                        <span class="info-date">16.01.2016</span>
                        <a href="#">Перевели дату на 1 января 1970 года и не включается Asus? Есть решение.</a>
                        <div class="info-text">
                          <p>Она получила название Touch Bar и заменяет функционалвозможность приспосабливаться используемым приложениям. Данная панель... </p>
                        </div>
                      </div>
                    </li>
                    <li class="slide-news-box">
                      <div class="news-box-img">
                        <a href="#"><img src="data/news_box_img7.jpg" alt="apple"></a>
                      </div>
                      <div class="news-box-info">
                        <span class="info-date">16.01.2016</span>
                        <a href="#">Презентация Asus "Hello Again" - новый Asus</a>
                        <div class="info-text">
                          <p>Она получила название Touch Bar и заменяет функциональные клавиши, а также имеет возможность приспосабливаться... </p>
                        </div>
                      </div>
                    </li>
                    <li class="slide-news-box">
                      <div class="news-box-img">
                        <a href="#"><img src="data/news_box_img8.jpg" alt="apple"></a>
                      </div>
                      <div class="news-box-info">
                        <span class="info-date">16.01.2016</span>
                        <a href="#">Asus запустила программу замены дефектных кабелей USB-C </a>
                        <div class="info-text">
                          <p>Она получила название Touch Bar и заменяет функционалвозможность приспосабливаться используемым приложениям. Данная панель... </p>
                        </div>
                      </div>
                    </li>
                    <li class="slide-news-box">
                      <div class="news-box-img">
                        <a href="#"><img src="data/news_box_img9.jpg" alt="apple"></a>
                      </div>
                      <div class="news-box-info">
                        <span class="info-date">16.01.2016</span>
                        <a href="#">Перевели дату на 1 января 1970 года и не включается Asus? Есть решение.</a>
                        <div class="info-text">
                          <p>Она получила название Touch Bar и заменяет функционалвозможность приспосабливаться используемым приложениям. Данная панель... </p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div id="tab-34">
                <div class="article-slider-holder">
                  <ul class="news-slider">
                    <li class="slide-news-box">
                      <div class="news-box-img">
                        <a href="#"><img src="data/news_box_img7.jpg" alt="apple"></a>
                      </div>
                      <div class="news-box-info">
                        <span class="info-date">16.01.2016</span>
                        <a href="#">Презентация Asus "Hello Again" - новый Asus</a>
                        <div class="info-text">
                          <p>Она получила название Touch Bar и заменяет функциональные клавиши, а также имеет возможность приспосабливаться... </p>
                        </div>
                      </div>
                    </li>
                    <li class="slide-news-box">
                      <div class="news-box-img">
                        <a href="#"><img src="data/news_box_img8.jpg" alt="apple"></a>
                      </div>
                      <div class="news-box-info">
                        <span class="info-date">16.01.2016</span>
                        <a href="#">Asus запустила программу замены дефектных кабелей USB-C </a>
                        <div class="info-text">
                          <p>Она получила название Touch Bar и заменяет функционалвозможность приспосабливаться используемым приложениям. Данная панель... </p>
                        </div>
                      </div>
                    </li>
                    <li class="slide-news-box">
                      <div class="news-box-img">
                        <a href="#"><img src="data/news_box_img9.jpg" alt="apple"></a>
                      </div>
                      <div class="news-box-info">
                        <span class="info-date">16.01.2016</span>
                        <a href="#">Перевели дату на 1 января 1970 года и не включается Asus? Есть решение.</a>
                        <div class="info-text">
                          <p>Она получила название Touch Bar и заменяет функционалвозможность приспосабливаться используемым приложениям. Данная панель... </p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div id="tab-35">
                <div class="article-slider-holder">
                  <ul class="news-slider">
                    <li class="slide-news-box">
                      <div class="news-box-img">
                        <a href="#"><img src="data/news_box_img7.jpg" alt="apple"></a>
                      </div>
                      <div class="news-box-info">
                        <span class="info-date">16.01.2016</span>
                        <a href="#">Презентация Asus "Hello Again" - новый Asus</a>
                        <div class="info-text">
                          <p>Она получила название Touch Bar и заменяет функциональные клавиши, а также имеет возможность приспосабливаться... </p>
                        </div>
                      </div>
                    </li>
                    <li class="slide-news-box">
                      <div class="news-box-img">
                        <a href="#"><img src="data/news_box_img8.jpg" alt="apple"></a>
                      </div>
                      <div class="news-box-info">
                        <span class="info-date">16.01.2016</span>
                        <a href="#">Asus запустила программу замены дефектных кабелей USB-C </a>
                        <div class="info-text">
                          <p>Она получила название Touch Bar и заменяет функционалвозможность приспосабливаться используемым приложениям. Данная панель... </p>
                        </div>
                      </div>
                    </li>
                    <li class="slide-news-box">
                      <div class="news-box-img">
                        <a href="#"><img src="data/news_box_img9.jpg" alt="apple"></a>
                      </div>
                      <div class="news-box-info">
                        <span class="info-date">16.01.2016</span>
                        <a href="#">Перевели дату на 1 января 1970 года и не включается Asus? Есть решение.</a>
                        <div class="info-text">
                          <p>Она получила название Touch Bar и заменяет функционалвозможность приспосабливаться используемым приложениям. Данная панель... </p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div id="tab-36">
                <div class="article-slider-holder">
                  <ul class="news-slider">
                    <li class="slide-news-box">
                      <div class="news-box-img">
                        <a href="#"><img src="data/news_box_img7.jpg" alt="apple"></a>
                      </div>
                      <div class="news-box-info">
                        <span class="info-date">16.01.2016</span>
                        <a href="#">Презентация Asus "Hello Again" - новый Asus</a>
                        <div class="info-text">
                          <p>Она получила название Touch Bar и заменяет функциональные клавиши, а также имеет возможность приспосабливаться... </p>
                        </div>
                      </div>
                    </li>
                    <li class="slide-news-box">
                      <div class="news-box-img">
                        <a href="#"><img src="data/news_box_img8.jpg" alt="apple"></a>
                      </div>
                      <div class="news-box-info">
                        <span class="info-date">16.01.2016</span>
                        <a href="#">Asus запустила программу замены дефектных кабелей USB-C </a>
                        <div class="info-text">
                          <p>Она получила название Touch Bar и заменяет функционалвозможность приспосабливаться используемым приложениям. Данная панель... </p>
                        </div>
                      </div>
                    </li>
                    <li class="slide-news-box">
                      <div class="news-box-img">
                        <a href="#"><img src="data/news_box_img9.jpg" alt="apple"></a>
                      </div>
                      <div class="news-box-info">
                        <span class="info-date">16.01.2016</span>
                        <a href="#">Перевели дату на 1 января 1970 года и не включается Asus? Есть решение.</a>
                        <div class="info-text">
                          <p>Она получила название Touch Bar и заменяет функционалвозможность приспосабливаться используемым приложениям. Данная панель... </p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="all-services-box">
            <div class="all-services-holder">
              <a class="all-services" href="#">Все статьи</a>
            </div>
          </div>
        </div>
        <div class="content-bottom">
          <div class="content-bottom-holder">
            <div class="image-box">
              <img src="data/text-image.png" width="555" height="574" alt="image description">
            </div>
            <div class="content-bottom-box">
              <h1 class="box-title">TRENDS STORE</h1>
              <div class="box-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                  ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                  fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                  mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit Lorem ipsum dolor sit amet,
                  consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                  ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                  fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                  mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                  ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                  fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                  mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit Lorem ipsum dolor sit amet,
                  consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                  ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                  fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                  mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
                </p>
              </div>
              <a href="#" class="go-services">Подробнее<em></em></a>
            </div>
          </div>
        </div>
    </main>

    {% include 'footer.html' %}

</div>
{% include 'js.html' %}
</body>
</html>
