<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
<div id="wrapper">
    {% include 'hidden-menu.html' %}
    {% include 'hidden-search.html' %}
    {% include 'hidden-feedback.html' %}

    {% include 'header.html' %}
    <main id="main">
        <div class="content-box">
            <ul class="breadcrumbs">
                <li><a href="/">Главная</a></li>
                <li><span>Блог</span></li>
            </ul>
            <span class="box-title">ЛИЧНЫЙ КАБИНЕТ</span>
            <div class="personal-area-box">
                <ul class="personal-menu">
                    <li class="link1"><a href="personal-area.html">Моя информация</a></li>
                    <li class="link2"><a href="personal-area-orders.html">Мои заказы</a></li>
                    <li class="link3 active"><a href="#">Смена пароля</a></li>
                    <li class="link4"><a href="#">Выход</a></li>
                </ul>
                <form class="form-faq" name="personal-info" method="post" action="#">
                    <input type="password" class="password" placeholder="Старый пароль">
                    <label class="error">Введите имя</label>
                    <input type="password" class="new-password" placeholder="Новый пароль">
                    <label class="error">Введите имя</label>
                    <input type="password" class="repeat-new-password" placeholder="Повторите новый пароль">
                    <label class="error">Введите имя</label>
                    <button type="submit" class="submit-form">Сохранить</button>
                </form>
            </div>
        </div>
    </main>

    {% include 'footer.html' %}

</div>
{% include 'js.html' %}
</body>
</html>
