<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
<div id="wrapper">
    {% include 'hidden-menu.html' %}
    {% include 'hidden-search.html' %}
    {% include 'hidden-feedback.html' %}
    {% include 'popup-add-review.html' %}
    {% include 'popup-after-add-review.html' %}
    {% include 'popup-read-more-review.html' %}

    {% include 'header.html' %}
    <main id="main">
        <div class="image-top" style="background-image: url('/data/top_reviews_bg.jpg');">
            <div class="image-holder">
                <ul class="breadcrumbs">
                    <li><a href="/">Главная</a></li>
                    <li><span>Отзывы</span></li>
                </ul>
                <span class="title-text">
                    ОТЗЫВЫ
                </span>
            </div>
        </div>
        <div class="all-reviews">
            <ul class="reviews-links">
                <li class="active"><span>Все отзывы</span></li>
                <li><a href="#">Ремонт ноутбуков</a></li>
                <li><a href="#">Ремонт планшетов</a></li>
                <li><a href="#">Ремонт Apple</a></li>
                <li><a href="#">Ремонт Samsung</a></li>
                <li><a href="#">Ремонт SmartPhone</a></li>
                <li><a href="#">Ремонт электротранспорта</a></li>
                <li><a href="#">Ремонт игровых приставок</a></li>
                <li><a href="#">Ремонт робототехники</a></li>
                <li><a href="#">Ремонт аксессуаров и комплектующих</a></li>
                <li><a href="#">Ремонт другой техники</a></li>
                <li><a href="#">Дополнительные услуги</a></li>
            </ul>
            <div class="reviews-box">
                <div class="content-faq">
                    <a href="#" class="add-review"><em>+</em>Добавить отзыв</a>
                    <ul class="reviews-list">
                        <li class="review">
                            <div class="review-img">
                                <img src="data/review_img1.jpg" alt="review">
                            </div>
                            <span class="name-reviewer">Дмитрий Семенчук</span>
                            <span class="date-review">Сегодня в 12:43</span>
                            <div class="review-box">
                                <span class="review-category">Ремонт ноутбуков</span>
                                <div class="review-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad min... veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea...</p>
                                </div>
                            </div>
                            <span class="review-read-more"><em>Читать полностью</em></span>
                        </li>
                        <li class="review">
                            <div class="review-img">

                            </div>
                            <span class="name-reviewer">Дмитрий Семенчук</span>
                            <span class="date-review">Сегодня в 12:43</span>
                            <div class="review-box">
                                <span class="review-category">Ремонт планшетов</span>
                                <div class="review-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad min... veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea...</p>
                                </div>
                            </div>
                            <span class="review-read-more"><em>Читать полностью</em></span>
                        </li>
                        <li class="review">
                            <div class="review-img">
                                <img src="data/review_img2.jpg" alt="review">
                            </div>
                            <span class="name-reviewer">Дмитрий Семенчук</span>
                            <span class="date-review">Сегодня в 12:43</span>
                            <div class="review-box">
                                <span class="review-category">Ремонт Apple</span>
                                <div class="review-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad min... veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea...</p>
                                </div>
                            </div>
                            <span class="review-read-more"><em>Читать полностью</em></span>
                        </li>
                        <li class="review">
                            <div class="review-img">
                                <img src="data/review_img3.jpg" alt="review">
                            </div>
                            <span class="name-reviewer">Дмитрий Семенчук</span>
                            <span class="date-review">Сегодня в 12:43</span>
                            <div class="review-box">
                                <span class="review-category">Ремонт аксессуаров и комплектующих</span>
                                <div class="review-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad min... veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea...</p>
                                </div>
                            </div>
                            <span class="review-read-more"><em>Читать полностью</em></span>
                        </li>
                        <li class="review">
                            <div class="review-img">
                                <img src="data/review_img4.jpg" alt="review">
                            </div>
                            <span class="name-reviewer">Дмитрий Семенчук</span>
                            <span class="date-review">Сегодня в 12:43</span>
                            <div class="review-box">
                                <span class="review-category">Ремонт ноутбуков</span>
                                <div class="review-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad min... veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea...</p>
                                </div>
                            </div>
                            <span class="review-read-more"><em>Читать полностью</em></span>
                        </li>
                        <li class="review">
                            <div class="review-img">

                            </div>
                            <span class="name-reviewer">Дмитрий Семенчук</span>
                            <span class="date-review">Сегодня в 12:43</span>
                            <div class="review-box">
                                <span class="review-category">Ремонт ноутбуков</span>
                                <div class="review-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad min... veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea...</p>
                                </div>
                            </div>
                            <span class="review-read-more"><em>Читать полностью</em></span>
                        </li>
                        <li class="review">
                            <div class="review-img">
                                <img src="data/review_img1.jpg" alt="review">
                            </div>
                            <span class="name-reviewer">Дмитрий Семенчук</span>
                            <span class="date-review">Сегодня в 12:43</span>
                            <div class="review-box">
                                <span class="review-category">Ремонт ноутбуков</span>
                                <div class="review-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad min... veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea...</p>
                                </div>
                            </div>
                            <span class="review-read-more"><em>Читать полностью</em></span>
                        </li>
                        <li class="review">
                            <div class="review-img">

                            </div>
                            <span class="name-reviewer">Дмитрий Семенчук</span>
                            <span class="date-review">Сегодня в 12:43</span>
                            <div class="review-box">
                                <span class="review-category">Ремонт ноутбуков</span>
                                <div class="review-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad min... veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea...</p>
                                </div>
                            </div>
                            <span class="review-read-more"><em>Читать полностью</em></span>
                        </li>
                        <li class="review">
                            <div class="review-img">
                                <img src="data/review_img2.jpg" alt="review">
                            </div>
                            <span class="name-reviewer">Дмитрий Семенчук</span>
                            <span class="date-review">Сегодня в 12:43</span>
                            <div class="review-box">
                                <span class="review-category">Ремонт ноутбуков</span>
                                <div class="review-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad min... veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea...</p>
                                </div>
                            </div>
                            <span class="review-read-more"><em>Читать полностью</em></span>
                        </li>
                    </ul>
                </div>
                <div class="page-nav">
                  <ul class="nav-box">
                    <li class="arrow-left"><a href="#"></a></li>
                    <li><span class="page-active">1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li class="ellipsis"><span>...</span></li>
                    <li><a href="#">12</a></li>
                    <li class="arrow-right"><a href="#"></a></li>
                  </ul>
                </div>
            </div>
        </div>
    </main>

    {% include 'footer.html' %}

</div>
{% include 'js.html' %}
</body>
</html>
