<footer id="footer">
    <div class="footer-top">
        <div class="footer-nav-holder">
            <div class="footer-nav">
                <ul class="footer-nav-box">
                    <li><a href="#">Каталог товаров</a></li>
                    <li><a href="#">Услуги</a></li>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Доставка</a></li>
                    <li><a href="#">Оплата</a></li>
                    <li><a href="#">Помощь</a></li>
                    <li><a href="#">Блог</a></li>
                </ul>
            </div>
        </div>
        <div class="info-box">
            <div class="box-development">
                <strong class="development-img"><a href="https://art-lemon.com"></a></strong>
                <div class="development-text">
                    <p>Интернет-магазин разработан и поддерживается в компании</p>
                </div>
            </div>
            <div class="method-box">
                <div class="delivery-method">
                    <span class="method-name">СПОСОБЫ ДОСТАВКИ:</span>
                    <ul class="method-img">
                        <li>
                            <span class="delivery-nova"></span>
                        </li>
                        <li>
                            <span class="delivery-mist"></span>
                        </li>
                    </ul>
                </div>
                <div class="payment-method">
                    <span class="method-name">СПОСОБЫ ОПЛАТЫ:</span>
                    <ul class="method-img">
                        <li>
                            <span class="payment-visa"></span>
                        </li>
                        <li>
                            <span class="payment-master"></span>
                        </li>
                        <li>
                            <span class="payment-privat"></span>
                        </li>
                        <li>
                            <span class="payment-liqpay"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-bottom-holder">
            <div class="contacts-box">
                <div class="address-box">
                    <address class="address"><em></em>г.Киев, ул. Крещатик, 50</address>
                </div>
                <strong class="footer-logo"><a href="#"></a></strong>
                <div class="phone-box">
                    <span class="phone"><a href="tel:+380507865131"><em></em>+380507865131;</a></span>
                    <span class="phone"><a href="tel:0800600330">0(800)600-330;</a></span>
                </div>
            </div>
            <div class="footer-social">
                <ul>
                    <li><a href="#" class="facebook"></a></li>
                    <li><a href="#" class="google"></a></li>
                    <li><a href="#" class="vk"></a></li>
                    <li><a href="#" class="instagram"></a></li>
                </ul>
            </div>
            <div class="copyright">
                &copy; "TRENDS". Все права защищены.
            </div>
        </div>
    </div>
</footer>
