<header id="header">
    <div class="header-holder">
        <strong class="logo">
            <a href="/"></a>
        </strong>
        <div class="language">
            <ul>
                <li>
                    <span>Rus</span>
                    <ul>
                        <li>
                            <a href="#">
                                <span>Rus</span>
                                <img src="data/language_rus.jpg" alt="rus-flag">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Eng</span>
                                <img src="data/language_eng.jpg" alt="eng-flag">
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="navigation-box">
          <span class="nav-link">Каталог товаров</span>
          <div class="nav-holder">
            <nav class="nav">
              <ul>
                <li class="parent">
                  <a href="#">Телефоны<em></em></a>
                  <ul>
                      <li class="parent">
                        <a href="#">iPad mini 2 retina 16Gb<em></em></a>
                        <ul>
                            <li data-img="/data/drop-image.png"><a href="#">iPad mini 2 retina 16Gb</a></li>
                            <li data-img="/data/drop-image-2.png"><a href="#">iPad mini 2 retina 16Gb</a></li>
                            <li data-img="/data/drop-image.png"><a href="#">iPad Air 16Gb Wi-Fi</a></li>
                            <li data-img="/data/drop-image-2.png"><a href="#">iPad mini 4 16Gb</a></li>
                            <li data-img="/data/drop-image.png"><a href="#">iPad mini 4 16Gb</a></li>
                            <li data-img="/data/drop-image-2.png"><a href="#">iPad mini 3 16Gb</a></li>
                        </ul>
                      </li>
                      <li><a href="#">iPad mini 2 retina 16Gb</a></li>
                      <li><a href="#">iPad Air 16Gb Wi-Fi</a></li>
                      <li><a href="#">iPad mini 4 16Gb</a></li>
                      <li><a href="#">iPad mini 4 16Gb</a></li>
                      <li><a href="#">iPad mini 3 16Gb</a></li>
                      <li><a href="#">Планшеты с 3G</a></li>
                      <li><a href="#">Бюджетные</a></li>
                      <li><a href="#">Аксессуары</a></li>
                      <li><a href="#">Услуги</a></li>
                  </ul>
                </li>
                <li class="parent">
                    <a href="#">Ноутбуки<em></em></a>
                    <ul>
                        <li class="parent">
                          <a href="#">iPad mini<em></em></a>
                          <ul>
                              <li data-img="/data/drop-image.png"><a href="#">iPad mini 2</a></li>
                              <li data-img="/data/drop-image-2.png"><a href="#">iPad mini 2</a></li>
                              <li data-img="/data/drop-image.png"><a href="#">iPad Air 16Gb Wi-Fi</a></li>
                              <li data-img="/data/drop-image-2.png"><a href="#">iPad mini</a></li>
                              <li data-img="/data/drop-image.png"><a href="#">iPad mini 4 16Gb</a></li>
                              <li data-img="/data/drop-image-2.png"><a href="#">iPad mini 3 16Gb</a></li>
                          </ul>
                        </li>
                        <li><a href="#">iPad mini 2 retina 16Gb</a></li>
                        <li><a href="#">iPad Air 16Gb Wi-Fi</a></li>
                        <li><a href="#">iPad mini 4 16Gb</a></li>
                        <li><a href="#">iPad mini 4 16Gb</a></li>
                        <li><a href="#">iPad mini 3 16Gb</a></li>
                        <li><a href="#">Планшеты с 3G</a></li>
                        <li><a href="#">Бюджетные</a></li>
                        <li><a href="#">Аксессуары</a></li>
                        <li><a href="#">Услуги</a></li>
                    </ul>
                </li>
                <li><a href="#">Трансформеры<em></em></a></li>
                <li><a href="#">Робототехника<em></em></a></li>
                <li><a href="#">Электротранспорт<em></em></a></li>
                <li><a href="#">Акссесуары<em></em></a></li>
                <li><a href="#">Аудио товары<em></em></a></li>
                <li><a href="#">Развлечения<em></em></a></li>
                <li><a href="#">Портативная техника<em></em></a></li>
                <li><a href="#">Телевизоры<em></em></a></li>
                <li><a href="#">Компьютеры<em></em></a></li>
                <li><a href="#">Услуги<em></em></a></li>
              </ul>
            </nav>
            <div class="image-box">
              <img src="" alt="">
            </div>
          </div>
        </div>
        <div class="box-nav">
            <ul class="box-nav-menu">
                <li><a href="#">Услуги</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
        <div class="more-box">
            <span class="nav-more">Еще</span>
        </div>
        <div class="phone-header">
            <a class="phone" href="tel:0983683434">098-368-34-34</a>
            <a class="phone" href="tel:0633683434">063-368-34-34 </a>
        </div>
        <div class="user-panel">
            <ul>
                <li class="search-button">
                    <span class="holder-icon">
                        <span class="search-header"></span>
                    </span>
                </li>
                <li>
                    <span class="holder-icon">
                        <span class="feedback-header"></span>
                    </span>
                    <ul class="feedback-dropdown">
                        <li><a class="phone" href="tel:+380507865131">+380507865131</a></li>
                        <li class="feedback">
                            <span>Заказать обратный звонок</span>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <span class="holder-icon">
                            <span class="login-header"></span>
                        </span>
                    </a>
                </li>
                <li class="card-box">
                    <span class="holder-icon">
                        <span class="card-header">
                          <span class="card-counter">21</span>
                        </span>
                    </span>
                </li>
            </ul>
            <div class="hidden-card">
                <div class="hidden-card-box">
                    <span class="card-box-title">Корзина</span>
                    <ul class="selected-item-box">
                        <li class="selected-item">
                            <div class="item-img">
                                <a href="#"><img src="data/card-item1.jpg" alt="iphone6s"></a>
                            </div>
                            <div class="item-box">
                                <a href="#" class="name-item">Iphone 6S plus Gold</a>
                                <span class="quantity-item">2 шт.</span>
                            </div>
                            <span class="item-price">$649.99</span>
                            <span class="item-delete">&times;</span>
                        </li>
                        <li class="selected-item">
                            <div class="item-img">
                                <a href="#"><img src="data/card-item2.jpg" alt="notebook"></a>
                            </div>
                            <div class="item-box">
                                <a href="#" class="name-item">Asus VivoBook Max X541SA(X541SA-XO041D) Black</a>
                                <span class="quantity-item">1 шт.</span>
                            </div>
                            <span class="item-price">$950.00</span>
                            <span class="item-delete">&times;</span>
                        </li>
                        <li class="selected-item">
                            <div class="item-img">
                                <a href="#"><img src="data/card-item3.jpg" alt="headphones"></a>
                            </div>
                            <div class="item-box">
                                <a href="#" class="name-item">Beats Pro Over-Ear Headphones White (MH6Q2ZM/A)</a>
                                <span class="quantity-item">1 шт.</span>
                            </div>
                            <span class="item-price">$129.99</span>
                            <span class="item-delete">&times;</span>
                        </li>
                    </ul>
                    <div class="total-box">
                        <span>Итого:</span>
                        <span class="total-price">$1649.99</span>
                    </div>
                    <a href="drawing-up-of-an-order.html" class="checkout">Оформить заказ</a>
                </div>
            </div>
        </div>
    </div>
</header>
