<div class="hidden-feedback">
    <div class="feedback-holder">
        <span class="close-feedback"></span>
        <div class="hidden-feedback-box">
            <span class="feedback-name">ОБРАТНАЯ СВЯЗЬ</span>
            <form class="feedback-form form-faq" action="#" method="post">
                <div class="row">
                  <input type="text" placeholder="Имя">
                  <label class="error">Введите имя</label>
                  <input type="tel" placeholder="Телефон">
                  <label class="error">Введите имя</label>
                </div>
                <button type="submit" value="submit" class="feedback-submit">Отправить</button>
            </form>
        </div>
    </div>
</div>
