<script src="components/jquery/dist/jquery.js"></script>
<script src="components/slick-carousel/slick/slick.js"></script>
<script src="js/vendor/tabs.js"></script>
<script src="js/vendor/accordion.js"></script>
<script src="js/vendor/jquery.maskedinput-1.3.min.js"></script>
<script src="js/vendor/share42/share42.js"></script>
<script src="components/gray/js/jquery.gray.min.js"></script>
<script src="components/jcf/dist/js/jcf.js"></script>
<script src="components/jcf/dist/js/jcf.number.js"></script>
<script src="components/jcf/dist/js/jcf.select.js"></script>
<script src="components/fancybox/dist/jquery.fancybox.min.js"></script>
<script src="components/malihu-custom-scrollbar-plugin-master/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="components/jquery.countdown/dist/jquery.countdown.js"></script>
<script src="components/nouislider/distribute/nouislider.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAe0e7RzQTppvzTEUNRuNq5PqhpSOpF7yA"></script>
<script src="js/app.js"></script>
<script src="js/vendor/map.js"></script>
