<div class="panel-ocfilter">
    <span class="close-panel">Закрыть фильтр</span>
    <div class="list-group">
        <div class="ocfilter-block__selected">
            <span class="ocfilter__params-title">Активные фильтры:</span>
            <div class="ocfilter__selected">
                <div class="ocfilter__selected-option">
                    <span>Производитель:</span>
                    <button class="ocfilter__cancel">Acer</button>
                    <button class="ocfilter__cancel">Dell</button>
                </div>
                <div class="ocfilter__selected-option">
                    <span>Процессор:</span>
                    <button type="button" class="ocfilter__cancel">Intel i3 2500</button>
                    <button type="button" class="ocfilter__cancel">Intel i5 3500</button>
                </div>
                <button type="button" class="ocfilter__cancel ocfilter__cancel--expanded">Сбросить все<em></em></button>
            </div>
        </div>
        <div class="list-group-item ocfilter-option">
            <div class="ocfilter-price">
                <span class="ocfilter-price__title">Цена:</span>
                <div class="ocfilter-price__inputs">
                    <div class="ocfilter-price__input-wrapper">
                        <input type="text" value="999" class="ocfilter-price__input" />
                        <span class="ocfilter-price__cur">грн.</span>
                    </div>
                    <div class="ocfilter-price__separartor"></div>
                    <div class="ocfilter-price__input-wrapper">
                        <input type="text" value="999999" class="ocfilter-price__input" />
                        <span class="ocfilter-price__cur">грн.</span>
                    </div>
                </div>
            </div>
            <div class="option-values price">
                <div class="scale" id="scale-price"></div>
                <div class="hidden">
                    <button class="show-price-btn">Показать товары</button>
                </div>
            </div>
        </div>
        <div class="list-group-item ocfilter-option">
            <div class="option-name">Производитель:</div>
            <div class="option-values">
                <label>
                    <input type="checkbox" />
                    <a href="#">ACER</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">APPLE</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">ASUS</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">DELL</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">DREAM MACHINES</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">FUJITSU</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">HP</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">INTEL</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">ACER</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">APPLE</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">ASUS</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">DELL</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">DREAM MACHINES</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">FUJITSU</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">HP</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">INTEL</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <p>
                    <a class="opener-text" data-text-show="Свернуть" data-text-hide="Показать больше" href="#">Показать больше</a>
                </p>
            </div>
        </div>
        <div class="list-group-item ocfilter-option">
            <div class="option-name">Процессор:</div>
            <div class="option-values">
                <label>
                    <input type="checkbox" />
                    <a href="#">Intel i3 2500</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">Intel i3 2500</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">Intel i3 2500</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">Intel i3 2500</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">Intel i3 2500</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">Intel i3 2500</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">Intel i3 2500</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <p>
                    <a class="opener-text" data-text-show="Свернуть" data-text-hide="Показать больше" href="#">Показать больше</a>
                </p>
            </div>
        </div>
        <div class="list-group-item ocfilter-option">
            <div class="option-name">Объём памяти:</div>
            <div class="option-values">
                <label>
                    <input type="checkbox" />
                    <a href="#">250 GB</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">500 GB</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">750 GB</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">1 TB</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">1,5 TB</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">2 TB</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">3 TB</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">4 TB</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <p>
                    <a class="opener-text" data-text-show="Свернуть" data-text-hide="Показать больше" href="#">Показать больше</a>
                </p>
            </div>
        </div>
        <div class="list-group-item ocfilter-option">
            <div class="option-name">Тип видеокарты:</div>
            <div class="option-values">
                <label>
                    <input type="checkbox" />
                    <a href="#">Интегрированная</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">Для игр среднего уровня</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">Для игр высокого уровня</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">Для игр начального уровня</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <p>
                    <a class="opener-text" data-text-show="Свернуть" data-text-hide="Показать больше" href="#">Показать больше</a>
                </p>
            </div>
        </div>
        <div class="list-group-item ocfilter-option">
            <div class="option-name">Система охлаждения:</div>
            <div class="option-values">
                <label>
                    <input type="checkbox" />
                    <a href="#">Охлаждение</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">Охлаждение</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">Охлаждение</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">Охлаждение</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">Охлаждение</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">Охлаждение</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">Охлаждение</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">Охлаждение</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">Охлаждение</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">Охлаждение</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">Охлаждение</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">Охлаждение</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">Охлаждение</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">Охлаждение</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">Охлаждение</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <label>
                    <input type="checkbox" />
                    <a href="#">Охлаждение</a>
                    <small class="badge">19</small>
                    <button class="value-cancel"><em></em></button>
                </label>
                <p>
                    <a class="opener-text" data-text-show="Свернуть" data-text-hide="Показать больше" href="#">Показать больше</a>
                </p>
            </div>
        </div>
    </div>
</div>
