<div class="content-box partners">
    <div class="content-catalog partners">
        <ul>
            <li class="catalog-item">
                <a href="#">
                    <div class="catalog-image">
                        <img src="data/partner_samsung.jpg" style="width: 148px; height: 56px;" title="samsung" alt="samsung">
                    </div>
                </a>
            </li>
            <li class="catalog-item">
                <a href="#">
                    <div class="catalog-image">
                        <img src="data/partner_meizu.jpg" style="width: 150px; height: 94px;" title="meizu" alt="meizu">
                    </div>
                </a>
            </li>
            <li class="catalog-item">
                <a href="#">
                    <div class="catalog-image">
                        <img src="data/partner_sony.jpg" style="width: 129px; height: 26px;" title="sony" alt="sony">
                    </div>
                </a>
            </li>
            <li class="catalog-item">
                <a href="#">
                    <div class="catalog-image">
                        <img src="data/partner_lenovo.jpg" style="width: 154px; height: 35px;" title="lenovo" alt="lenovo">
                    </div>
                </a>
            </li>
            <li class="catalog-item">
                <a href="#">
                    <div class="catalog-image">
                        <img src="data/partner_hp.png" style="width: 76px; height: 76px;" title="hp" alt="hp">
                    </div>
                </a>
            </li>
            <li class="catalog-item">
                <a href="#">
                    <div class="catalog-image">
                        <img src="data/partner_lg.jpg" style="width: 170px; height: 93px;" title="lg" alt="lg">
                    </div>
                </a>
            </li>
            <li class="catalog-item">
                <a href="#">
                    <div class="catalog-image">
                        <img src="data/partner_asus.jpg" style="width: 143px; height: 46px;" title="asus" alt="asus">
                    </div>
                </a>
            </li>
            <li class="catalog-item">
                <a href="#">
                    <div class="catalog-image">
                        <img src="data/partner_dell.png" style="width: 130px; height: 38px;" title="dell" alt="dell">
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
