<div class="popup-service">
    <div class="popup-holder">
        <span class="close-popup"></span>
        <div class="popup-service-box">
            <span class="title-service"></span>
            <span class="btn-title"></span>
            <form class="form-faq" action="#" method="post">
                  <input type="text" placeholder="Имя">
                  <label class="error">Введите имя</label>
                  <input type="tel" placeholder="Телефон">
                  <label class="error">Введите имя</label>
                  <textarea placeholder="Коментарий" rows="1"></textarea>
                  <label class="error">Введите имя</label>
                  <span class="submit-form after-add-review">Отправить</span>
                  <input type="hidden" name="title" value="">
                  <input type="hidden" name="subtitle" value="">
                  <input type="hidden" name="page" value="">
            </form>
        </div>
    </div>
</div>
