<div class="popup-order-click">
    <div class="order-click-holder">
        <span class="close-feedback"></span>
        <div class="hidden-feedback-box">
            <span class="feedback-name">КУПИТЬ В ОДИН КЛИК</span>
            <span class="subname">Заказать без оформления. Просто оставить телефон и консультант решит все вопросы по оформлению заказа.</span>
            <form class="feedback-form form-faq" action="#" method="post">
                <div class="row">
                  <input type="text" placeholder="Имя">
                  <label class="error">Введите имя</label>
                  <input type="tel" placeholder="Телефон">
                  <label class="error">Введите имя</label>
                </div>
                <button type="submit" value="submit" class="feedback-submit">Отправить</button>
            </form>
        </div>
    </div>
</div>
