<div class="hidden-item">
  <div class="hidden-item-overlay"></div>
  <div class="hidden-item-holder">
    <span class="hidden-item-close"></span>
    <div class="item-image">
      <img src="data/checkout_item2.jpg">
    </div>
    <div class="item-info">
      <span class="item-name">Iphone SE 64GB Gold (Sprint)</span>
      <span class="added-to-cart"><em></em>добавлен в корзину</span>
      <div class="calculation-box">
        <div class="unit">
          <span class="unit-name">Цена за ед:</span>
          <span class="unit-price">$649.99</span>
        </div>
        <div class="quantity-block">
          <span class="unit-name">Количество:</span>
          <div class="quantity">
              <input type="number" value="1" min="1" max="20" step="1">
          </div>
        </div>
        <div class="total">
          <span class="unit-name">Итого:</span>
          <span class="total-price">$1349.99</span>
        </div>
      </div>
      <div class="checkout-box">
        <span class="continue-shopping">Продолжить покупки</span>
        <a href="#" class="checkout">Оформить заказ</a>
      </div>
    </div>
  </div>
</div>
