<div class="popup-add-review">
    <div class="add-review-holder">
        <span class="close-popup-review"></span>
        <form class="form-faq" name="add-review" action="#" method="post">
            <div class="review-block">
                <span class="title-form">ОСТАВИТЬ ОТЗЫВ</span>
                <div class="review-img">

                </div>
                <span class="add-photo">Добавить фотографию</span>
            </div>
            <div class="select-form-block">
                <div class="select open">
                    <span class="select__title">Категория отзыва</span>
                    <ul class="select__list">
                        <li>Ремонт ноутбуков</li>
                        <li>Ремонт планшетов</li>
                        <li>Ремонт Samsung</li>
                        <li>Ремонт SmartPhone</li>
                        <li>Ремонт игровых приставок</li>
                        <li>Ремонт робототехники</li>
                        <li>Ремонт аксессуаров и комплектующих</li>
                        <li>Ремонт другой техники</li>
                        <li>Ремонт игровых приставок</li>
                        <li>Дополнительные услуги</li>
                    </ul>
                </div>
                <input type="text" placeholder="Имя" />
                <label class="error">Введите имя</label>
                <textarea type="text" rows="1" placeholder="Отзыв"></textarea>
                <label class="error">Введите имя</label>
                <input type="text" placeholder="Ссылка на видео" />
                <label class="error">Введите имя</label>
                <span class="submit-form after-add-review">Отправить отзыв</span>
            </div>
        </form>
    </div>
</div>
