<div class="popup-read-more-review">
    <div class="read-more-holder">
        <span class="close-popup-read-more"></span>
        <div class="review">
            <div class="review-block">
                <div class="review-img">
                    <img src="data/review_img2.jpg" alt="review">
                </div>
                <span class="name-reviewer">Дмитрий Семенчук</span>
                <span class="date-review">Сегодня в 12:43</span>
            </div>
            <div class="review-box">
                <span class="review-category">Ремонт ноутбуков</span>
                <div class="review-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad min... veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit
                        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit anim id est laborum. Sed ut perspiciatis unde
                        omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium, totam rem aperiam, eaque ipsa quae ab illo
                        inventore veritatis et quasi architecto beatae vitae dicta
                        sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                        aspernatur aut odit aut fugit, sed quia consequuntur magni
                        dolores eos qui ratione voluptatem sequi nesciunt. Neque porro
                        quisquam est, qui dolorem ipsum quia dolor sit </p>
                </div>
            </div>
            <div class="video-holder">
                <video src="" class="video-box" poster="data/video_poster_review.jpg"></video>
                <span class="video-title">Ноутбук asus k 178390</span>
                <span class="play-button"></span>
            </div>
        </div>
    </div>
</div>
